<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="markdownpart" version="1" translationDomain="kmarkdownwebview">

<MenuBar>
<Menu name="edit"><text>&amp;Edit</text>
    <Action name="edit_copy"/>
    <Action name="edit_select_all"/>
</Menu>
</MenuBar>

</gui>
