[Desktop Entry]
Type=Service
Name=Markdown Web View
Name[ca]=Vista web del Markdown
Name[ca@valencia]=Vista web del Markdown
Name[de]=Markdown-Webansicht
Name[es]=Vista web markdown
Name[it]=Vista web per Markdown
Name[nl]=Webweergave van Markdown
Name[pt]=Vista Web de Markdown
Name[ru]=Просмотр Markdown
Name[sk]=Webový pohľad Markdown
Name[sv]=Markdown webbvisning
Name[uk]=Вебперегляд даних Markdown
Name[x-test]=xxMarkdown Web Viewxx
Icon=text-markdown
MimeType=text/markdown;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kmarkdownwebviewpart
