<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="markdownpart" version="2" translationDomain="kmarkdownwebview">

<MenuBar>
<Menu name="edit"><text>&amp;Edit</text>
    <Action name="edit_copy"/>
    <Action name="edit_select_all"/>
    <Separator/>
    <Action name="edit_find"/>
    <Action name="edit_find_next"/>
    <Action name="edit_find_prev"/>
</Menu>
</MenuBar>

</gui>
