[Desktop Entry]
Type=Service
Name=Markdown Web View
Name[ca]=Vista web del Markdown
Name[ca@valencia]=Vista web del Markdown
Name[da]=Markdown-webvisning
Name[de]=Markdown-Webansicht
Name[el]=Markdown και προβολή
Name[en_GB]=Markdown Web View
Name[es]=Vista web markdown
Name[et]=Markdowni veebivaade
Name[fi]=Markdown-web-näkymä
Name[fr]=Markdown Web View
Name[gl]=Vista web de Markdown
Name[it]=Vista web per Markdown
Name[ko]=Markdown 웹 뷰
Name[nl]=Webweergave van Markdown
Name[nn]=Markdown-vevvising
Name[pl]=Widok Sieciowy Markdown
Name[pt]=Vista Web de Markdown
Name[pt_BR]=Exibição Web de Markdown
Name[ru]=Просмотр Markdown
Name[sk]=Webový pohľad Markdown
Name[sl]=Markdown Web View
Name[sv]=Markdown webbvisning
Name[uk]=Вебперегляд даних Markdown
Name[x-test]=xxMarkdown Web Viewxx
Name[zh_TW]=Markdown 網頁檢視
Icon=text-markdown
MimeType=text/markdown;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kf5/parts/kmarkdownwebviewpart
