[Desktop Entry]
Type=Service
Name=Markdown Files
Name[ca]=Fitxers del Markdown
Name[ca@valencia]=Fitxers del Markdown
Name[cs]=Soubory Markdown
Name[da]=Markdown-filer
Name[de]=Markdown-Dateien
Name[el]=Αρχεία markdown
Name[en_GB]=Markdown Files
Name[es]=Archivos markdown
Name[et]=Markdowni failid
Name[fi]=Markdown-tiedostot
Name[fr]=Fichiers Markdown
Name[gl]=Ficheiros Markdown
Name[it]=File Markdown
Name[ko]=Markdown 파일
Name[nl]=Markdown-bestanden
Name[nn]=Markdown-filer
Name[pl]=Pliki Markdown
Name[pt]=Ficheiros de Markdown
Name[pt_BR]=Arquivos Markdown
Name[ru]=Файлы Markdown
Name[sk]=Súbory Markdown
Name[sl]=Markdown Web View
Name[sv]=Markdown-filer
Name[uk]=Файли Markdown
Name[x-test]=xxMarkdown Filesxx
Name[zh_TW]=Markdown 檔案
X-KDE-ServiceTypes=ThumbCreator
MimeType=text/markdown;
X-KDE-Protocols=KIO
X-KDE-Library=kmarkdownwebviewthumbnail
CacheThumbnail=true
