[Desktop Entry]
Type=Service
Name=Markdown Files
X-KDE-ServiceTypes=ThumbCreator
MimeType=text/markdown;
X-KDE-Protocols=KIO
X-KDE-Library=kmarkdownwebviewthumbnail
CacheThumbnail=true
